*.sw?
node_modules/*
.DS_Store
npm-debug.log
*.pyc
.ipynb
!./tutorial/*.ipynb
*/.ipynb_checkpoints
.csv
*.log
iclr2017/data
iclr2017/process/submissionProcess_conference.js
iclr2017/process/submissionProcess_workshop.js
uai2017/data
uai2017/process/submissionProcess.js
uai2017/process/spc_registrationProcess.js
